In [1]:
import pandas as pd
import uuid
# Read Excel file

data = pd.read_excel("asn-data.xlsx", "GenInfo (2)")

/Users/Cam/PycharmProjects/personalWebsite/venv/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [2]:
# Create DataFrame variable and drop columns

df = pd.DataFrame(data)
columns_to_keep = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 
                   'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 
                   'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 
                   'Unnamed: 25', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 
                   'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 39', 'Unnamed: 41',
                   'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 47', 'Unnamed: 48', 
                   'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', ]
# size = len(columns_to_keep)
# print(size)
df.drop(df.columns.difference(columns_to_keep), 1, inplace=True)
df

/var/folders/nk/bm25bxs96tvdcssyqndn5lv00000gp/T/ipykernel_55277/1817666719.py:13: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(df.columns.difference(columns_to_keep), 1, inplace=True)

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 15,...,Unnamed: 44,Unnamed: 45,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LAST NAME,FIRST NAME,SCHOOL,DCFS ID#,CURRENT STATUS,EMAIL ADDRESS,PHONE #,DATE REFERRED TO ASN,DATE APPROVED BY DCFS,OFFICIALLY PENDING START,...,Number of Previous HS,Number of DAYS out of school,Number of Placements,DAYS at current placement,Grade at Entry,SpecEd,TP Entry,TP To Date,DUE DATE IF PREGNANT?,# CHILDREN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# drop rows

df.drop(df.index[[0, 1, 2, 4, 5]], inplace=True)
df.loc[3, 'Unnamed: 42'] = 'Et®hn'
# df

In [4]:
# drop empty rows at the end of file

df.dropna(how='all', inplace=True)
df

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 15,...,Unnamed: 44,Unnamed: 45,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
3,LAST NAME,FIRST NAME,SCHOOL,DCFS ID#,CURRENT STATUS,EMAIL ADDRESS,PHONE #,DATE REFERRED TO ASN,DATE APPROVED BY DCFS,OFFICIALLY PENDING START,...,Number of Previous HS,Number of DAYS out of school,Number of Placements,DAYS at current placement,Grade at Entry,SpecEd,TP Entry,TP To Date,DUE DATE IF PREGNANT?,# CHILDREN
6,Sample01,Student01,Antonia Pantoja Hs,N5996686,Enrolled,SSample01@asn.com,773-555-0001,NaN,NaN,NaN,...,1,90,2,7,Freshman,No,No,No,NaN,NaN
7,Sample02,Student02,Antonia Pantoja Hs,N7996585,Enrolled,SSample02@asn.com,773-555-0002,NaN,NaN,NaN,...,1,NaN,2,730,Junior,No,No,Pregnant,NaN,NaN
8,Sample03,Student03,Antonia Pantoja Hs,Y5686785,Enrolled,SSample03@asn.com,773-555-0003,2020-04-27 00:00:00,2020-04-28 00:00:00,NaN,...,0,Unk,4,Unk,Pendinng,Unk,No,No,NaN,NaN
9,Sample03,Student03,Antonia Pantoja Hs,Y5686785,Referral not accepted by school,SSample03@asn.com,773-555-0003,2019-12-05 00:00:00,2019-12-05 00:00:00,NaN,...,0,240,3,30,Freshman,Unk,No,No,NaN,NaN
10,Sample04,Student04,Asn Preparatory Institute,T6798567,Enrolled,SSample04@asn.com,773-555-0004,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,GED,No,Yes,Yes,NaN,NaN
11,Sample05,Student05,Asn Preparatory Institute,U6678589,Discharged,SSample05@asn.com,773-555-0005,2019-09-24 00:00:00,2019-11-12 00:00:00,2019-11-12 00:00:00,...,Unk,Unk,5,548,GED,Yes,Yes,Yes,NaN,1
12,Sample06,Student06,Asn Preparatory Institute,Z5558985,Enrolled,SSample06@asn.com,773-555-0006,2020-02-27 00:00:00,2020-02-28 00:00:00,NaN,...,NaN,150,8,730,GED,Yes,No,No,NaN,NaN
13,Sample07,Student07,Association House Hs,S7776988,Enrolled,SSample07@asn.com,773-555-0007,2019-11-19 00:00:00,2019-11-19 00:00:00,NaN,...,2,629,1,60,Freshman,Unk,no,no,NaN,NaN
14,Sample08,Student08,Association House Hs,W7996985,Enrolled,SSample08@asn.com,773-555-0008,2020-01-21 00:00:00,2020-01-22 00:00:00,NaN,...,1,unk,unk,unk,Pending,no,no,no,NaN,NaN
15,Sample09,Student09,Chatham Academy,S7896885,Transferred in network,SSample09@asn.com,773-555-0009,2019-08-19 00:00:00,2019-08-19 00:00:00,2019-09-04 00:00:00,...,2,NaN,1,33,Sophomore,No,No,No,NaN,NaN
16,Sample10,Student10,Chatham Academy,Q6688585,Enrolled,SSample10@asn.com,773-555-0010,2020-01-15 00:00:00,2020-01-16 00:00:00,2020-01-15 00:00:00,...,3,90,4,2184,Senior,No,No,No,NaN,NaN
17,Sample11,Student11,Chatham Academy,Y8896989,Enrolled,SSample11@asn.com,773-555-0011,NaN,NaN,NaN,...,4,90,3,21,Sophomore,No,No,No,NaN,NaN
18,Sample12,Student12,Community Youth Development Institute,U6888687,Discharged,SSample12@asn.com,773-555-0012,NaN,NaN,NaN,...,2,180,3,NaN,Pending,No,No,No,NaN,NaN
19,Sample13,Student13,Community Youth Development Institute,W9798985,Enrolled,SSample13@asn.com,773-555-0013,2020-01-30 00:00:00,2020-01-30 00:00:00,NaN,...,NaN,NaN,NaN,NaN,Junior,Unk,NO,No,NaN,NaN
20,Sample14,Student14,Community Youth Development Institute,U9589885,Enrolled,SSample14@asn.com,773-555-0014,2020-02-18 00:00:00,2020-02-18 00:00:00,2020-02-18 00:00:00,...,1,Unk,3,Unk,Senior,Unk,No,No,NaN,NaN
21,Sample15,Student15,Community Youth Development Institute,S8778886,Discharged,SSample15@asn.com,773-555-0015,2019-08-08 00:00:00,2019-08-08 00:00:00,2019-08-09 00:00:00,...,1,NaN,10,120,Freshman,No,Pregnant,Pregnant,2019-11-22 00:00:00,NaN
22,Sample16,Student16,Dr. Pedro Albizu Campos Hs,S7896685,School Exit,SSample16@asn.com,773-555-0016,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,...,1,5,3,1,Senior,Unk,No,No,NaN,NaN
23,Sample17,Student17,Excel Academy,NaN,Not approved by DCFS,SSample17@asn.com,773-555-0017,2020-02-24 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Sample18,Student18,Excel Academy,88756985,Referral not accepted by school,SSample18@asn.com,773-555-0018,2019-09-24 00:00:00,2019-09-25 00:00:00,2019-09-25 00:00:00,...,NaN,NaN,NaN,NaN,Pending,Unk,No,No,NaN,NaN
25,Sample19,Student19,Excel Academy,77888587,Enrolled,SSample19@asn.com,773-555-0019,2019-09-24 00:00:00,2019-09-25 00:00:00,2019-09-25 00:00:00,...,NaN,NaN,3,60,Senior,Unk,No,No,NaN,NaN
26,Sample20,Student20,Innovations Hs,P6766585,Discharged,SSample20@asn.com,773-555-0020,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Freshman,Yes,No,No,NaN,NaN
27,Sample21,Student21,Innovations Hs,Q7899989,Referral not accepted by school,SSample21@asn.com,773-555-0021,2019-09-04 00:00:00,2019-09-05 00:00:00,2019-09-09 00:00:00,...,5,365,20,30,Sophomore,Yes,Pregnant,Pregnant,NaN,NaN
28,Sample22,Student22,Latino Youth Hs,J8668685,Enrolled,SSample22@asn.com,773-555-0022,2020-05-29 00:00:00,2020-06-01 00:00:00,NaN,...,NaN,30,NaN,180,Junior,No,Yes,Yes,NaN,2
29,Sample23,Student23,Latino Youth Hs,S5566589,Referral not accepted by school,SSample23@asn.com,773-555-0023,NaN,2020-03-23 00:00:00,NaN,...,2,Unk,8,365,Sophomore,yes,no,no,NaN,NaN
30,Sample24,Student24,Latino Youth Hs,56996789,Referral not accepted by school,SSample24@asn.com,773-555-0024,2019-10-25 00:00:00,2019-10-28 00:00:00,NaN,...,4,17,2,17,Senior,Unk,No,No,NaN,NaN
31,Sample25,Student25,McKinley Lakeside Leadership Academy,X8886686,Referral not accepted by school,SSample25@asn.com,773-555-0025,2019-10-30 00:00:00,2019-10-30 00:00:00,NaN,...,3,NaN,Unk,17,Freshman,No,No,No,NaN,NaN
32,Sample26,Student26,Olive-Harvey Middle College,X6566585,Enrolled,SSample26@asn.com,773-555-0026,NaN,NaN,NaN,...,3,NaN,5,156,Freshman,Yes,No,No,NaN,NaN
33,Sample27,Student27,Olive-Harvey Middle College,P5656885,Enrolled,SSample27@asn.com,773-555-0027,2019-09-06 00:00:00,2019-09-06 00:00:00,NaN,...,NaN,NaN,NaN,NaN,Senior,Yes,No,No,NaN,NaN
34,Sample28,Student28,Olive-Harvey Middle College,Y8896985,Officially pending,SSample28@asn.com,773-555-0028,2020-04-19 00:00:00,2020-04-20 00:00:00,NaN,...,3,Unk,Unk,Unk,Freshman,No,No,NaN,NaN,NaN
35,Sample29,Student29,Olive-Harvey Middle College,W9986889,Enrolled,SSample29@asn.com,773-555-0029,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Freshman,Yes,No,No,NaN,NaN
36,Sample30,Student30,Progressive Leadership Academy,R9668585,Transferred in network,SSample30@asn.com,773-555-0030,NaN,NaN,NaN,...,2,365,2,0,Freshman,No,No,No,NaN,NaN
37,Sample31,Student31,Progressive Leadership Academy,P6756687,Discharged,SSample31@asn.com,773-555-0031,2019-05-22 00:00:00,2019-05-23 00:00:00,NaN,...,1,3.5,NaN,NaN,Pending,Yes,No,No,NaN,NaN
38,Sample32,Student32,Progressive Leadership Academy,P6986685,Enrolled,SSample32@asn.com,773-555-0032,2020-04-09 00:00:00,2020-04-10 00:00:00,NaN,...,1,365,Unk,7,Senior,Yes,No,No,NaN,NaN
39,Sample33,Student33,Sullivan House,W7578585,Enrolled,SSample33@asn.com,773-555-0033,2019-09-09 00:00:00,2019-09-11 00:00:00,2019-09-16 00:00:00,...,1,NaN,1,NaN,Freshman,No,Yes,Yes,NaN,1
40,Sample34,Student34,Sullivan House,99986685,Enrolled,SSample34@asn.com,773-555-0034,2019-09-05 00:00:00,2019-09-05 00:00:00,2019-09-05 00:00:00,...,1,NaN,NaN,7,Freshman,Yes,No,No,NaN,NaN
41,Sample35,Student35,Sullivan House,S5586885,Enrolled,SSample35@asn.com,773-555-0035,2020-01-24 00:00:00,2020-01-24 00:00:00,2020-02-24 00:00:00,...,3,Unk,3,Unk,Pending,No,No,No,NaN,NaN
42,Sample36,Student36,Sullivan House,S5586886,Enrolled,SSample36@asn.com,773-555-0036,2020-01-24 00:00:00,2020-01-24 00:00:00,2020-02-24 00:00:00,...,3,Unk,3,Unk,Pending,No,No,No,NaN,NaN
43,Sample37,Student37,Sullivan House,T7769586,Transferred in network,SSample37@asn.com,773-555-0037,NaN,NaN,NaN,...,3,NaN,NaN,NaN,Junior,Yes,No,No,NaN,NaN
44,Sample38,Student38,Sullivan House,N5796985,Enrolled,SSample38@asn.com,773-555-0038,2019-09-05 00:00:00,2019-09-05 00:00:00,2019-09-18 00:00:00,...,3,90,3,90,Senior,Yes,No,No,NaN,NaN
45,Sample39,Student39,Sullivan House,W5978886,Discharged,SSample39@asn.com,773-555-0039,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Sophomore,Yes,No,No,NaN,NaN
46,Sample40,Student40,Sullivan House,N7798785,Enrolled,SSample40@asn.com,773-555-0040,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,No,Yes,Pregnant,NaN,NaN
47,Sample41,Student41,West Town Academy,Z9659988,School Exit,SSample41@asn.com,773-555-0041,NaN,NaN,NaN,...,2,30,3,60,Senior,No,Yes,Yes,NaN,1
48,Sample42,Student42,West Town Academy,Y6876885,School Exit,SSample42@asn.com,773-555-0042,2019-09-16 00:00:00,2019-09-16 00:00:00,NaN,...,1,NaN,1,1095,Senior,Unk,Unk,Unk,NaN,NaN
49,Sample43,Student43,West Town Academy,W5958689,Enrolled,SSample43@asn.com,773-555-0043,2019-10-01 00:00:00,2019-10-02 00:00:00,2019-10-02 00:00:00,...,2,540,9,540,Senior,Yes,Yes,Yes,NaN,1
50,Sample44,Student44,West Town Academy,W9766885,Enrolled,SSample44@asn.com,773-555-0044,2020-02-27 00:00:00,2020-02-28 00:00:00,2020-03-03 00:00:00,...,4,365,4,NaN,Senior,No,No,No,NaN,NaN
51,Sample45,Student45,Youth Connection Leadership Academy,W6578589,Enrolled,SSample45@asn.com,773-555-0045,NaN,NaN,NaN,...,1,NaN,NaN,NaN,Sophomore,No,No,No,NaN,NaN
52,Sample46,Student46,Youth Connection Leadership Academy,Q7859889,Enrolled,SSample46@asn.com,773-555-0046,2020-01-21 00:00:00,2020-01-21 00:00:00,2020-02-03 00:00:00,...,NaN,NaN,NaN,NaN,Sophomore,No,No,No,NaN,NaN
53,Sample47,Student47,Youth Connection Leadership Academy,97986885,Enrolled,SSample47@asn.com,773-555-0047,2019-09-12 00:00:00,2019-09-13 00:00:00,2019-09-13 00:00:00,...,2,0,NaN,NaN,Senior,No,Yes,Yes,NaN,1
54,Sample48,Student48,Youth Connection Leadership Academy,Z9578685,Enrolled,SSample48@asn.com,773-555-0048,NaN,NaN,NaN,...,2,NaN,2,60,Freshman,No,No,Yes,NaN,NaN
55,Sample49,Student49,Youth Connection Leadership Academy,55856685,Officially pending,SSample49@asn.com,773-555-0049,2020-03-12 00:00:00,2020-03-12 00:00:00,NaN,...,1,0,Unk,Unk,Junior,Unk,No,No,NaN,NaN

In [5]:
df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop=True)
df["Import UUID"] = [uuid.uuid4() for x in range(len(df))]
df.head()

3,LAST NAME,FIRST NAME,SCHOOL,DCFS ID#,CURRENT STATUS,EMAIL ADDRESS,PHONE #,DATE REFERRED TO ASN,DATE APPROVED BY DCFS,OFFICIALLY PENDING START,...,Number of DAYS out of school,Number of Placements,DAYS at current placement,Grade at Entry,SpecEd,TP Entry,TP To Date,DUE DATE IF PREGNANT?,# CHILDREN,Import UUID
0,Sample01,Student01,Antonia Pantoja Hs,N5996686,Enrolled,SSample01@asn.com,773-555-0001,NaN,NaN,NaN,...,90,2,7,Freshman,No,No,No,NaN,NaN,74079df1-a547-437f-ba16-8d5ceca65015
1,Sample02,Student02,Antonia Pantoja Hs,N7996585,Enrolled,SSample02@asn.com,773-555-0002,NaN,NaN,NaN,...,NaN,2,730,Junior,No,No,Pregnant,NaN,NaN,b2998edc-1b2e-497d-9b33-76a2b3cb79f4
2,Sample03,Student03,Antonia Pantoja Hs,Y5686785,Enrolled,SSample03@asn.com,773-555-0003,2020-04-27 00:00:00,2020-04-28 00:00:00,NaN,...,Unk,4,Unk,Pendinng,Unk,No,No,NaN,NaN,c443df32-2655-400e-838c-4750a61f0200
3,Sample03,Student03,Antonia Pantoja Hs,Y5686785,Referral not accepted by school,SSample03@asn.com,773-555-0003,2019-12-05 00:00:00,2019-12-05 00:00:00,NaN,...,240,3,30,Freshman,Unk,No,No,NaN,NaN,c0f8098a-7ff1-4285-b801-b81af9b7f3b6
4,Sample04,Student04,Asn Preparatory Institute,T6798567,Enrolled,SSample04@asn.com,773-555-0004,NaN,NaN,NaN,...,NaN,NaN,NaN,GED,No,Yes,Yes,NaN,NaN,7f110d22-38c7-46c6-9159-617004f72600

In [6]:
# clean columns
df[["Caseworker First Name", "Caseworker Last Name"]] = df["Current Caseworker Name"].str.split(" ", expand = True)
df["Street Address"] = df["Street Address"] + df["Unit / Suite #"]

df.drop(['Unit / Suite #', "Current Caseworker Name", "DAYS at current placement"], axis=1, inplace = True)

salesforce_meta_data = ["OFFICIALLY PENDING START", "OFFICIALLY PENDING END", "REFERRAL END STATUS", "REFERRAL END STATUS DATE" "IF NOT ACCEPTED OR NOT APPROVED BY DCFS, PLEASE PROVIDE REASON",]

In [7]:
# Rename the columns to match Salesforce
renaming_dict = {
    "FIRST NAME" : "First Name",
    "LAST NAME" : "Last Name",
    "DCFS ID#" : "DCFS ID",
    "EMAIL ADDRESS" : "Email",
    "PHONE #" : "Contact: Phone",
    "ENROLLMENT DATE": "Date Enrolled",
    "Number of Previous HS" : "Number of previous high schools",
    "Numnber of DAYS out of school" : "Number of days out of school",
    "Number of Placements" : "Total Number of Placements",
    "Phone": "Caseworker Phone Number",
    "Email": "Caseworker Email",
    "Agency": "Caseworker Agency",
    "Street Address": "Caseworker Street Address",
    "City": "Caseworker City",
    "State": "Caseworker State",
    "Zip": "Caseworker Zip Code",
    "DOB": "Birthdate",
    "Et®hn": "Ethnicity",
    "LIVING SITUATION": "Student Living Situation Type",
    "Number of DAYS out of school": "Number of days out of school",
    "SpecEd" : "Special Needs Status",
    "DUE DATE IF PREGNANT?": "Student Pregnancy Due Date",
    "# CHILDREN" : "Number of children",
    "Grade at Entry": "Grade Level",
    "SCHOOL": "Schools",
    "CURRENT STATUS": "Enrollment Status",
    "DATE REFERRED TO ASN": "Date Referral Recieved At School",
    "DATE APPROVED BY DCFS": "Date Approved By DCFS",
    "Gender": "Gender",
    "IF NOT ACCEPTED OR NOT APPROVED BY DCFS, PLEASE PROVIDE REASON": "Reason for Rejection"
}
df.rename(columns=renaming_dict, inplace=True)
df.columns

Index(['Last Name', 'First Name', 'Schools', 'DCFS ID', 'Enrollment Status',
       'Email', 'Contact: Phone', 'Date Referral Recieved At School',
       'Date Approved By DCFS', 'OFFICIALLY PENDING START',
       'OFFICIALLY PENDING END', 'REFERRAL END STATUS',
       'REFERRAL END STATUS DATE', 'Reason for Rejection', 'Date Enrolled',
       'SCHOOL EXIT DATE', 'SCHOOL EXIT REASON', 'PROGRAM DISCHARGE DATE',
       'PROGRAM DISCHARGE REASON', 'Caseworker Phone Number',
       'Caseworker Email', 'Caseworker Agency', 'Caseworker Street Address',
       'Caseworker City', 'Caseworker State', 'Caseworker Zip Code',
       'Birthdate', 'Gender', 'Ethnicity', 'Student Living Situation Type',
       'Number of previous high schools', 'Number of days out of school',
       'Total Number of Placements', 'Grade Level', 'Special Needs Status',
       'TP Entry', 'TP To Date', 'Student Pregnancy Due Date',
       'Number of children', 'Import UUID', 'Caseworker First Name',
       'Caseworker Last Name'],
      dtype='object', name=3)

In [8]:
#split for testing
df = df.sample(n=3)

In [9]:
# Map columns to objects

student_contact_df = df[["Last Name", "First Name", 'Email','Contact: Phone', 'Birthdate', 'Gender', 'Ethnicity', 'Import UUID', 'DCFS ID']]
ys3_columns = [column for column in list(df.columns) if column not in list(student_contact_df.columns) or 'Import UUID'] 
ys3_program_df = df[ys3_columns]

In [10]:
# Clean Data

ys3_program_df["SCHOOL EXIT DATE"] = ys3_program_df["SCHOOL EXIT DATE"].apply(lambda x: x if x != 'Current' else None)
ys3_program_df["Caseworker Zip Code"] = ys3_program_df["Caseworker Zip Code"].astype('string')
ys3_program_df["Number of days out of school"] = ys3_program_df["Number of days out of school"].apply(lambda x: x if x != 'Unk' else None)
ys3_program_df["Total Number of Placements"] = ys3_program_df["Total Number of Placements"].apply(lambda x: x if x != 'Unk' else None)
ys3_program_df.rename(columns={"Import UUID": "Contact"}, inplace=True)
ys3_program_df["Caseworker Zip Code"]

46     <NA>
11    60649
32    60655
Name: Caseworker Zip Code, dtype: string

In [11]:
# save as csv
student_contact_df.to_csv('contact_import_data.csv', index=False)
ys3_program_df.to_csv('ys3_program_import_data.csv', index=False)